<ul *ngIf="buttonText ==='continent'" class="grid grid-cols-3 pt-5 pr-5 gap-10">
  <li class="font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-Africa.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Africa</p>
      </a>
    </div>
  </li>
  <li class="font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-Arabia.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Arabian Peninsula</p>
      </a>
    </div>
  </li>
  <li class="font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-Asia.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Asia</p>
      </a>
    </div>
  </li>
  <li class="font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-America.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04] w-32">Central America & Caribbean</p>
      </a>
    </div>
  </li>
  <li class="font-semibold  group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-Oceania.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04] ">Oceania</p>
      </a>
    </div>
  </li>
  <li class="font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../assets/imgs/contents/img-menu-item-SthAmerica.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">South Africa</p>
      </a>
    </div>
  </li>
</ul>
<ul *ngIf="buttonText === 'type'" class="grid grid-cols-3 pt-5 pr-5 gap-10">
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-item-2.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Single Origin</p>
      </a>
    </div>
  </li>
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-item-3.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Fine Blended</p>
      </a>
    </div>
  </li>
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-item-4.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Fine Flavoured</p>
      </a>
    </div>
  </li>
  <li class=" w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-item-5.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Decaffeinated <br></p>
      </a>
    </div>
  </li>
</ul>
<ul *ngIf="buttonText === 'time'" class="grid grid-cols-3 pt-5 pr-5 gap-10">
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-time-morning.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Morning</p>
      </a>
    </div>
  </li>
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-time-afternoon.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">Afternoon</p>
      </a>
    </div>
  </li>
  <li class="w-full font-semibold group-3">
    <div>
      <a href="#">
        <p class="block relative before:content-[''] [.group-3:hover_&]:before:visible before:invisible before:absolute top-0 right-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.6)]" >
          <span class="absolute top-1/2 left-1/2 -translate-x-[50%] invisible [.group-3:hover_&]:visible -translate-y-[50%] w-4/5 text-xs break-words text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
          <img class="w-full h-auto object-cover" src="../../../../../assets/imgs/contents/img-menu-time-all-day.png" alt="image"/>
        </p>
        <p class="text-center pt-2 [.group-3:hover_&]:text-[#e87c04]">All day</p>
      </a>
    </div>
  </li>
</ul>
