<div class=" bg-[hsla(0,0%,74.9%,.3)] w-screen min-h-screen relative" style="backdrop-filter: blur(1000px);">
    <div class="form absolute bg-[#182755] top-40 left-1/2 -translate-x-1/2  w-[720px] pt-10 px-44 pb-8  max-h-96 overflow-y-scroll">
      <div class="w-full ">
        <p class="text-2xl font-semibold text-white mb-3 text-center">LOG IN</p>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="space-y-4  font-thin" action="#">
          <div>
            <text-input
              [showErrorsWhen]="fc['email'].invalid && fc['email'].dirty || fc['email'].touched "
              [control]="fc['email']"
              type="email"
              label="Your email"
              placeholder="name@gmail.com"
            >
            </text-input>
          </div>
          <div>
            <text-input
            [showErrorsWhen]="fc['password'].invalid && fc['password'].dirty || fc['password'].touched "
            [control]="fc['password']"
            type="password"
            label="Password"
            placeholder="••••••••"
            >
            </text-input>
          </div>

          <div class="flex items-center justify-between">
              <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input formControlName="rememberMe" id="remember" aria-describedby="remember" type="checkbox" >
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="remember" class="text-gray-500 ">Keep me logged in </label>
                  </div>
              </div>
              <a href="#" class="text-sm text-white hover:underline ">Forgot password?</a>
          </div>
          <p class="text-xs text-slate-500 text-center">By logging in, you agree to Bacha’s <a href="#" class="underline ">Terms & Privacy</a></p>
          <div class="flex justify-center">
            <default-button text="Log in" type="submit" customStyle="block mx-auto italic text-base w-64 py-2 bg-[#faac4d] rounded-3xl border border-black transition-all text-black hover:opacity-90" ></default-button>
          </div>
          <p class="text-white text-sm text-center font-thin ">
              Not a member yet?
          </p>
          <a routerLink="/auth/register" class="underline text-white text-sm text-center  font-thin block hover:opacity-70 transition-all ">Join now</a>
        </form>
      </div>
    </div>
</div>
