<div *ngIf="buttonText ==='packedCoffeesAndHampers'" class="pt-28 w-[500px] font-medium text-base grid-cols-3 grid ">
  <a class="row-start-2 hover:text-[#e87c04]" href="#">
    Packed Coffees
  </a>
  <a class="row-start-3 pt-5 hover:text-[#e87c04]" href="#" >
    Gift Hampers
  </a>
  <a class="row-start-4 pt-5 hover:text-[#e87c04]" href="#">
    Make Your Own Hamper
  </a>
</div>
<div *ngIf="buttonText ==='coffeeAccessoriesAndGifts'" class="pt-28 w-[500px] font-medium text-base grid grid-cols-2 gap-3 ">
  <a class=" hover:text-[#e87c04] " href="#">
    Show all
  </a>
  <a class="hover:text-[#e87c04]" href="#" >
   Coffee Makers, Filters & Pots
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Coffee Cups, Saucers & Mugs
  </a>
  <a class=" hover:text-[#e87c04]" href="#">
    Sugar Bowl, Creamers & Milk Jugs
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Iced Coffees, Goblets & Straws
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Coffee Canister, Scoop & Trays
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Spare Accessories
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Books and Fragrances
   </a>
</div>
<div *ngIf="buttonText ==='gourmetProducts'" class="pt-28 w-[500px] font-medium text-base grid grid-cols-2 gap-3 ">
  <a class=" hover:text-[#e87c04] " href="#">
    Show all
  </a>
  <a class="hover:text-[#e87c04]" href="#" >
   Honey
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Caramel
  </a>
  <a class=" hover:text-[#e87c04]" href="#">
    Chocolate
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Sugar
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Vanilla
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Nougat
  </a>
  <a class="hover:text-[#e87c04]" href="#">
    Biscuit
   </a>
</div>

