<header>
  <div class="lg:h-24 h-14 bg-[#182755]">
    <div  class="mx-auto container px-6 max-w-6xl  pt-4 lg:pt-12  flex justify-between  gap-10">
      <a title="Site's logo" href="#" class="w-20 z-10 md:w-28 xl:w-32 transition-all "   >
          <img loading="lazy" class="w-full h-full"  alt="image"  src="../../../../assets/imgs/share/logo.png"/>
      </a>
      <ul class=" lg:flex text-white hidden gap-5 xl:text-sm pt-2 text-xs font-extrabold ">
        <li>
            <a class="hover:text-[#e87c04] transition-all " href="#" >COFFEE BEANS</a>
            <div class="h-96 w-full absolute top-[128px] left-0 bg-[#182755] transition-all ">
              <div class="container mx-auto px-6 max-w-6xl justify-between flex">
                <div class="pt-28 ">
                  <ul class="flex flex-col gap-8 font-medium text-lg">
                    <div class="flex group hover:text-[#e87c04] hover:border-b border-[#e87c04] justify-between items-center  cursor-pointer">
                      <li>
                        Continent
                      </li>
                      <div class="w-[10px]  h-2 group-hover:visible invisible rotate-90 ">
                        <img class="w-full h-full" src="../../../../assets/imgs/share/arrow-up.png"/>
                      </div>
                    </div>
                    <li class="hover:text-[#e87c04] transition-all cursor-pointer">
                      Coffee type
                    </li>
                    <li class="hover:text-[#e87c04] transition-all cursor-pointer">
                      Time of Day
                    </li>
                    <li>
                      <a href="#">
                        Show all coffees
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </li>
        <li>
          <a class="hover:text-[#e87c04] transition-all" href="#">PACKED COFFEE & ACCESSORIES</a>
        </li>
        <li>
          <a class="hover:text-[#e87c04] transition-all" href="#" >ABOUT US</a>
        </li>
        <li>
          <a class="hover:text-[#e87c04] transition-all" href="#">COFFEE STORIES</a>
        </li>
        <li>
          <a class="hover:text-[#e87c04] transition-all" href="#">LOCATION</a>
        </li>
      </ul>
      <div class="flex gap-1 flex-row-reverse text-white ">
        <div class="lg:hidden hover:text-[#e87c04]">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-[#e87c04] transition-all">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-[#e87c04] transition-all">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-[#e87c04] transition-all">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <a href="#" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:text-[#e87c04] transition-all">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="h-6 border-t-4 border-b-4 border-[#e87c04] py-3" style="background: #A33230 url(../../../../assets/imgs/share/coffee-bean-line-bg.png) repeat-x center / 37px auto;">
  </div>
  <div class="text-center w-full pt-10 pb-3 md:pt-3  h-full   px-4 flex items-end justify-center   bg-[rgba(0,0,0,0.8)] ">
    <span class="text-white font-extrabold text-xs sm:text-sm">
      Receive a free TWGTea reusable tote bag on orders of $100 or more!
    </span>
  </div>
</header>
