
<app-not-found
  [visible]="!food"
  [fullPage]="true"
  notFoundMessage="Food Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="food" class="bg-[#fcfcec] min-h-screen">
    <div class="container mx-auto max-w-6xl pt-52 py-40 px-20 flex justify-center gap-10 ">
      <img class="w-full h-64 object-cover rounded-3xl hover:opacity-80" [src]="food.imageUrl" [alt]="food.name"/>
      <div class="w-full flex flex-col p-2">
        <div class="flex justify-between">
          <span class="text-3xl font-bold text-[#182755]">
            {{food.name}}
          </span>
          <span class=" text-2xl {{food.favorite? 'text-[#e72929]': 'text-gray-500'}}">❤</span>
        </div>
        <div class="flex flex-wrap my-4">
          <span class="text-lg mx-2 italic " *ngFor="let origin of food.origins">
            {{origin}}
          </span>
        </div>
        <div class="flex flex-wrap">
          <a *ngFor="let tag of food.tags" class="px-2 border border-black hover:bg-white rounded-full mx-2 text-gray-700 text-sm" routerLink="/home/tag/{{tag}}">
            {{tag}}
          </a>
        </div>
        <div class="mx-2 my-2">
          <span>
            Time to cook about <strong>{{food.cookTime}}</strong> minutes
          </span>
        </div>

        <div class="mx-2 flex justify-between ">
          <span>
            {{food.price | currency}}
          </span>
          <button class="bg-[#faac4d] rounded-3xl px-4 py-2  text-black text-sm hover:opacity-80 border border-black" (click)="addToCart()">Add To Cart</button>
        </div>
      </div>
    </div>
</div>
