<div style="background:url(../../../../assets/imgs/contents/banner_exclusives.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
" class="w-screen h-screen" >
  <div class="container max-w-6xl px-6 mx-auto pt-[40vh]">
    <div class=" py-5 px-8 bg-[rgba(0,0,0,0.4)] max-w-[444px] text-center text-white ">
      <span class="font-black  text-4xl">WELCOME TO THE WORLD OF BACHA COFFEE</span>
      <p class="my-5 text-sm font-sans opacity-90">Legendary 100% Arabia coffees</p>
      <button class="md:w-72 font-norma italic text-base w-64 py-2 bg-[#faac4d] rounded-3xl border border-black transition-all text-black hover:opacity-90">
        Shop Our Coffee Beans
      </button>
      <button class="md:w-72 my-2 font-norma italic text-base w-64 py-2 bg-[#faac4d] rounded-3xl border border-black transition-all text-black hover:opacity-90">
        Shop Our Packed Coffees
      </button>
      <button class="md:w-72 font-norma italic text-base w-64 py-2 bg-[#faac4d] rounded-3xl border border-black transition-all text-black hover:opacity-90">
        Shop Our Accessories
      </button>
    </div>
  </div>
</div>
